/* Custom CSS for navigation selection */
.navbar-nav .nav-item.active .nav-link {
    color: #fff !important;
    background-color: #007bff;
}

.question-container {
    margin-bottom: 20px;
}

/* .jumbotron_background {
    background-image: url("../assets/istockphoto-1186386668-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */